﻿@model FPTApp.Models.ApplicationUser
@{ ViewBag.Title = "Edit"; }

<h2>Edit</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm("Edit", "ManageUsers", FormMethod.Post))
{
    @Html.HiddenFor(u => u.Id)
<div class="form-horizontal">
    <h4>Account</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(u => u.Name)
        @Html.EditorFor(u => u.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(u => u.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.UserName)
        @Html.EditorFor(u => u.UserName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(u => u.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(u => u.Email)
        @Html.EditorFor(u => u.Email, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(u => u.Age)
        @Html.EditorFor(u => u.Age, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(u => u.Age, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Phone)
        @Html.EditorFor(u => u.Phone, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(u => u.Phone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>}

<div>
    @Html.ActionLink("Back to List", "UsersWithRoles")
</div>